.orders-show {
  .total-text {
    margin-top: 10px;
  }

  .order-number {
    margin-bottom: 5px;
  }

  .delimiter {
    border-bottom: 1px solid #e5e5e5;
  }

  .order-items {
    margin-top: 40px;
  }

  .order-item .quantity {
    margin-top: 7px;
  }

  .address-field {
    margin: 2px 0;
  }
}