.col-md-6.user-password-form
  = simple_form_for user, password_form_options do |f|
    %input(type="hidden" name="operation" value="password")
    %h4.page-header= t '.title'

    - %i(current_password password password_confirmation).each do |field|
      = f.input field, password_field_options

    = f.button :submit
