.book-order-form {
  .book-price {
    margin: 2px 0 0;
  }

  form, .panel {
    margin: 0;
  }

  .form-control {
    width: 120px;
    margin-right: -1px;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .book-not-available-alert {
    margin: 7px 0;
    color: #a94442;
  }
}