.form-signup {
  padding: 15px;
  margin: 0 auto;
  max-width: 330px;

  .form-control {
    height: auto;
    padding: 10px;
    font-size: 16px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    &:focus {
      z-index: 2;
    }
  }

  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="submit"] {
    width: 100%;
    height: 40px;
  }

  #password {
    border-radius: 0;
    margin-bottom: -1px;
  }

  #password-confirm {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}